body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;

  background-color: #849d8f;
}

.catalog-list {
  display: none;
}

.modal-login {
  display: none;
}

.login-form {
  display: none;
}
.main-header {
  width: 1146px;
  margin: 0 auto;
  text-align: right;
  margin-bottom: 280px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #849d8f;
}

.main-header-catalog {
  width: 1146px;
  margin: 0 auto;
  text-align: right;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #849d8f;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
}

.main-navigation-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 560px;
  margin: 0;
  padding: 0;
}

.user-navigation-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 267px;
  margin: 0;
  padding: 0;
}

.main-header-logo {
  width: 154px;
  height: 64px;
  margin-right: 20px;
}

.site-navigation-list {
  width: 352px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}


.site-navigation-item {
  width: 100px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 700;
}


.site-navigation-item a {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 700;
}

.catalog-item {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 400;
}

.catalog-item-bold {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 700;
}

.site-navigation-item a:hover,
.site-navigation-item a:focus {
  background-color: #ffffff;
  color: #000000;
}

.site-navigation-item a:active {
  color: #000000;
  background-color: rgba(248, 247, 244, 0.988);
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
  width: 87px;
  height: 32px;
}

.catalog-list a:hover,
.catalog-list a:focus {
  background-color: #fbded7;
  color: #000000;
}

.catalog-list a:active {
  background-color: #f6b5a5;
  color: #000000;
}

.search {
  width: 45px;
}


.smallcart {
  width: 100px;
}


.modal-login p {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 500;

  background-color: #9db1a5;
  width: 93px;
  height: 32px;
}

.smallcart p {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 500;

  background-color: #9db1a5;
  width: 100px;
  height: 33px;
}

.smallcart-link p {
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  font-weight: 500;

  background-color: rgb(248, 247, 244);
  width: 117px;
  height: 32px;
}

.information {
  display: inline-block;
}

.contact-time {
  width: 155px;
  text-align: right;
  margin: 0;
  padding: 0;

  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  text-align:right;
  font-weight: 700;
}

.contact-number {
  width: 170px;
  text-align: right;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 22px;
  line-height: 24px;
  text-align:right;
  font-weight: 700;
}

.container {
  width: 1146px;
  margin: 0 auto;
}
.slides {
  display: none;
  justify-content: center;
  margin-top: 41px;
  padding: 0;
}

.head-slide-one {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: #ffffff;
}

.slide-radio {
  list-style: none;
}

.slides a {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  text-decoration: none;

  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  width: 280px;
  height: 64px;
}

.slides a:hover,
.slides a:focus {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  text-align: center;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  text-decoration: none;

  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
  width: 280px;
  height: 65px;
}

.slides a:active {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  text-align: center;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  text-decoration: none;

  background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
  width: 280px;
  height: 65px;
}

.promo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.promo-raspberry {
  width: 520px;
  background-image: url(../img/background-strawberrypng.png);
  padding: 20px;
}

.promo-chocolate {
  background-image: url(../img/background-chocolat.png);
  width: 520px;
  padding: 20px;
}

.promo-raspberry a,
.promo-chocolate a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;

  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  width: 165px;
  height: 46px;
}

.promo-raspberry a:hover,
.promo-raspberry a:focus,
.promo-chocolate a:hover,
.promo-chocolate a:focus {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;

  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
  width: 280px;
  height: 65px;
}

.promo-raspberry a:active,
.promo-chocolate a:active {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;

  background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
  width: 280px;
  height: 65px;
}

.promo-header {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 25px;
}

.promo-main {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 50px;
}


.popular-goods-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.popular-goods-item {
  width: 267px;
}

.popular-goods {
  margin-bottom: 40px;
}


.good-title {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
  }

.cost {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.mass {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
}

.good-link {
  color: #ffffff;
}

.about-us {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 40px;
  background-image: url(../img/pattern.jpg);
}

.about-us-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-us-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
  margin-top: 0px;
  margin-bottom: 30px;
  padding: 0;
}

.about-us-item {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
  width: 475px;
  padding-left: 60px;
  padding-bottom: 30px;
}

.blog-subscription a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  text-decoration: underline;

}

.blog {
  display: block;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  width: 560px;
  padding-top: 25px;
  padding-left: 15px;
  background-image: url(../img/strawberry-background.jpg);
  background-repeat: no-repeat;
}

.blog-new {
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 0;
}
.blog-link {
  padding: 0;
  margin-top: 0;
  margin-bottom: 60px;
  width: 300px;
}

.subscription-text {
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  font-weight: 400;
  margin-top: 40px;
  margin-left: 25px;
  margin-bottom: 40px;
  padding: 0px;
}

.subscription-login {
  margin-left: 25px;
  margin-bottom: 40px;
  padding: 0px;
}

.blog-subscription {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.subscription {
  display: block;
  width: 560px;
  margin: 0;
  background-image: url(../img/post-background.jpg);
  background-repeat: no-repeat;
}

.modal-map {
  position: relative;
}


.button-send {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;

  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  width: 129px;
  height: 44px;
}

.contacts a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;

  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  width: 252px;
  height: 44px;
}

.address,
.number {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

  .address li:nth-child(1) {
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.address li:nth-child(2n) {
  font-size: 18px;
  line-height: 24px;
  color: #323232;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.number li:nth-child(2n+1) {
font-size: 14px;
line-height: 20px;
color: #323232;
font-weight: 400;
padding: 0;
margin: 0;
}

.number li:nth-child(2n) {
font-size: 18px;
line-height: 24px;
color: #323232;
font-weight: 700;
padding: 0;
margin: 0;
}


.contacts {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  position	: absolute;
	top: 63px;
  right: 0px;
  left: 842px;
  background-image: url(../img/background-map.png);
  background-repeat: no-repeat;

}

.contacts-wrapper {
  display: inline-block;
  padding: 30px 25px;
  width: 300px;
}


.main-footer {
  width: 100%;
}

.main-footer .container{
  display: flex;
  justify-content: space-between;
  width: 1146px;
  padding: 27px;
  margin-top: 25px;
}

.footer-social {
  width: 267px;
  margin: 0;
  padding: 0;
}

.social-button-list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
}

.social-button-item {
  width: 40px;
  margin: 0;
  padding: 0;
}

.footer-info a {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: underline;
  font-weight: 400;
}

.link-academy {
  text-decoration: underline;
}

.footer-info-bold a {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 700;
}

.footer-info {
  width: 330px;
  margin: 0;
  padding: 0;
}

.footer-info-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-info-item-bold,
.footer-info-item {
  width: 163px;
  margin: 0;
  padding: 0;
}

.footer-copyright {
  width: 267px;
  margin: 0;
  padding: 0;
}

.copyright {
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 400;
}

.copyright a {
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 400;
}

.feedback-info {
  font-size: 24px;
  line-height: 28px;
  color: #323232;
  font-weight: 500;
}

.button-feedback {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 700;

  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  width: 139px;
  height: 44px;
}

.modal-login {
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  width: 277px;
  height: 214px;
}

.restore {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  font-weight: 400;
  text-decoration: underline;
}

.new-registration {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  font-weight: 400;
  text-decoration: underline;
}

.login-form button {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 700;
}

.breadcrumbs-item {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 700;
}

.breadcrumbs-list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0px;
  margin-bottom: 10px;
  padding: 0;
}

.breadcrumbs-item {
width: 267px;
margin: 0;
padding-right: 20px;
}


h1 {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: 700;
}

.sort-wrapper {
  display: inline-block;
}
.sort {
  margin: 0;
  padding: 0;
}

.range {
  display: inline-block;
}
.range p {
  margin: 0;
  padding: 0;
}
.filters {
  margin-bottom: 40px;
}

.filters-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 0;
  width: 853px;
}

.goods-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.goods-item {
  width: 267px;
  margin: 0;
  padding: 0;
}


.pagination-list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.pagination-item {
  width: 20px;
  margin: 0;
  padding: 0;
}

.smallcart-form {
  display: none;
}

.fatness-radio-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.fatness-radio-item {
  width: 80px;
}

.fatness legend {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 500;
}

.percent-fatness {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 500;
}

.fillers-checkbox-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.fillers-checkbox-item {
  width: 120px;
}

.fillers legend {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 500;
}

.filler-item {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 500;
}

.fillers ul,
.fatness ul {
list-style: none;
}

.button-apply {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 500;

  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.188);
  width: 148px;
  height: 41px;
}

.goods-list,
.goods-item {
list-style: none;
}

.pagination-list,
.pagination-item {
list-style: none;
}

.pagination-item a {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.name-goods {
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  font-weight: 400;
}

.weight {
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  font-weight: 400;
}

.cost-item {
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  font-weight: 400;
}

.total-cost-item {
  font-size: 13px;
  line-height: 16px;
  color: #999999;
  font-weight: 400;
}

.total-cost-smallcart {
  font-size: 15px;
  line-height: 18px;
  color: #323232;
  font-weight: 700;
}

.button-formalize {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 700;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
