body {
  margin: 0 auto;
  padding: 0;
  background-color: #849d8f;
  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;
}

.button {
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  background: #f26843;
  background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.main-header {
  position: relative;
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
  margin-bottom: 334px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.main-header-logo {
  display: block;
  position:absolute;
  top: 11px;
  left: 26px;
}

.main-header-catalog {
  position: relative;
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
  margin-bottom: 42px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #849d8f;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 163px;
}

.site-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 650px;
  margin: 0;
  margin-top: 23px;
  padding: 0;
  list-style: none;
}

.site-navigation-item {
  position: relative;
}

.site-navigation-item > a {
  border-bottom: 1px solid rgba(255,255,255,.2);
  display: block;
  position: relative;
  margin: 9px 14px;
  padding: 0;
  max-width: 180px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
}

.site-navigation-list > li:hover {
    background: #f7f6f3;
    border-radius: 20px;
}

.site-navigation-list > li:active {
    background: #ededed;
    -webkit-box-shadow: inset 0 2px 1px rgba(105, 105, 105, 1);
    box-shadow: inset 0 2px 1px rgba(105, 105, 105, 1);
}

.site-navigation-list > li:hover > a {
    color: #000000;
    text-decoration: none;
    border-bottom: none;
}

.site-navigation-item > a:active {
  background-color: #ededed;
  color: #000000;
}

.active-catalog {
  background: #d07058;
  border-radius: 20px;
  color: #ffffff;
}

.active-catalog > a {
  border-bottom: none;
}

.active-catalog-item {
  background: #d07058;
  color: #ffffff;
}

.catalog-list-wrapper {
   display: none;
   position: absolute;
   padding: 0;
   left: -5px;
   padding-top: 5px;
   width: 143px;
   z-index: 1;
 }

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  color: #000000;
}

.site-navigation-item:hover .catalog-list-wrapper,
.site-navigation-item:focus .catalog-list-wrapper,
.site-navigation-item-active:hover .catalog-list-wrapper,
.site-navigation-item-active:focus .catalog-list-wrapper {
  display: block;
}

.catalog-item {
  display: block;
  margin-top: 2px;
  margin-bottom: 3px;
  padding: 6px 15px;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
}

.catalog-item-title {
  display: block;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 1px solid #d1d0ce;
}

.catalog-list a:hover,
.catalog-list a:focus {
  background-color: #fbded7;
  color: #000000;
}

.catalog-list a:active {
  background-color: #f6b5a5;
  color: #000000;
}

.site-navigation-item:hover .catalog-list-none,
.site-navigation-item:focus .catalog-list-none {
  display: none;
}

.user-navigation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 280px;
  margin: 0;
  margin-top: 25px;
  padding: 0;
}

.smallcart-empty-link,
.smallcart-full-link {
  display: block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  text-decoration: none;
  padding-left: 43px;
  padding-top: 9px;
  padding-bottom: 7px;
  padding-right: 18px;
}

.search-link {
  display: block;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  width: 32px;
  height: 32px;
}

.search {
  position: relative;
}

.search a:hover,
.search a:focus {
  width: 30px;
  height: 30px;
  background-color: #f8f7f4;
}

.search:hover::before,
.search:focus::before {
  background-image: url(../img/loupe-black.svg);

}
.search::before {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: 7px;
  width: 20px;
  height: 20px;
  background-image: url(../img/loupe.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

 .search-form-wrapper {
  display: none;
  position:absolute;
  right: 0;
  padding-top: 4px;
  z-index: 1;
}

.search-form {
  display: block;
  border: 1px solid rgb(211, 211, 210);
  border-radius: 5px;
  background-color: #f8f7f4;
  -webkit-box-shadow: 0px 19px 25px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0 19px 25px 0 rgba(0, 0, 0, 0.4);
  width: 311px;
  max-height: 69px;
  z-index: 2;
  padding: 15px 15px;
}

.search-form input[type="text"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  min-height: 39px;
  padding: 6px 0;
  padding-left: 11px;
  color: #000000;
  border: 1px solid rgba(178, 178, 178, 0.5);
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  outline: none;
}

.search-form input[type="text"]:hover,
.login-form input[type="text"]:hover,
.login-form input[type="password"]:hover  {
  -webkit-box-shadow: 0 0 0 1px rgba(154, 154, 154, 0.5);
  box-shadow: 0 0 0 1px rgba(154, 154, 154, 0.5)
}

.search-form input[type="text"]:focus,
.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus  {
  border-color: 1px solid #8fbdec;
  -webkit-box-shadow: 0 0 0 1px rgba(143, 189, 236);
  box-shadow: 0 0 0 1px rgba(143, 189, 236)
}

.search:hover .search-link {
  background: #f8f7f4;
}

.search:hover .search-form-wrapper,
.search:focus .search-form-wrapper {
  display: block;
}

.login-form-wrapper {
  display: none;
  position: absolute;
  top: 35px;
  right: 0;
  z-index: 1;
}

.login-form {
  width: 241px;
  height: 150px;
  padding-top: 20px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 15px;
  background: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0 19px 25px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 19px 25px 1px rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.modal-login::before {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 20px;
  background-image: url(../img/entrance-white.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login-link {
  display: block;
  padding-top: 9px;
  padding-bottom: 7px;
  padding-left: 44px;
  padding-right: 17px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 20px;
  text-decoration: none;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

.login-link:hover,
.login-link:focus {
  background-color: #f7f6f3;
  color: #323232;
}

.modal-login:hover::before,
.modal-login:focus::before {
  background-image: url(../img/entrance.svg);
}

.modal-login:hover .login-link {
  background: #f8f7f4;
  color: #000000;
}

.modal-login:hover .login-form-wrapper {
  display: block;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-height: 39px;
  margin-bottom: 10px;
  padding-top: 7px;
  padding-bottom: 6px;
  padding-left: 15px;
  border: 1px solid rgba(178, 178, 178, 0.5);
  border-radius: 5px;
  font-size: 14px;
  line-height: 24.3px;
  outline: none;
  color: #000000;
}

.login-form a {
  display: inline-block;
  vertical-align: middle;
  margin-top: 5px;
  font-size: 13px;
  line-height: 1.3;
  color: #000000;
}

.login-form a:hover,
.login-form a:focus,
.login-field a:active {
  color: #ffbc9e;
}

.bottom-login-form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.bottom-link-login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.open-button {
  font-weight: 700;
  display: block;
  padding: 10px 25px;
}

.smallcart-empty,
.modal-login {
  position: relative;
  margin-left: 10px;
}

.smallcart-empty-link::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 20px;
  background-image: url(../img/basket.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.smallcart-form {
  position: relative;
  display: none;
}

.smallcart-full {
  position: relative;
  margin-left: 10px;
}

.smallcart-full-link::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 15px;
  width: 21px;
  height: 20px;
  background-image: url(../img/basket-red.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.smallcart-full-link {
  color: #323232;
  background-color: #f7f6f3;
}

.smallcart-full:hover .smallcart-form,
.smallcart-full:focus .smallcart-form {
  display:block;
  position: absolute;
  top: 35px;
  left: -460px;
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  width: 539px;
  height: 222px;
  z-index: 223;
  padding: 20px;
}

.smallcart-table {
  width: 539px;
  height: 170px;
  margin: 0;
  padding: 0;
}

.cancel {
  padding-left: 10px;
  padding-right: 10px;
}

.small-image {
  width: 33px;
  padding-right: 15px;
}

.small-image img {
  border-radius: 100px;
}

.name-goods {
  width: 220px;
  padding-right: 30px;
}

.weight {
  width: 100px;
  padding-right: 25px;
}

.total-cost-smallcart {
  padding-top: 10px;
  padding-bottom: 0;
  text-align: right;
  border-top: 1px solid #d1d0ce;
}

.smallcart-table tr {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.cost-item-color {
  font-size: 13px;
  line-height: 16px;
  color: #999999;
  font-weight: 400;
}

.total-cost-smallcart-style {
  font-size: 15px;
  line-height: 18px;
  color: #323232;
  font-weight: 700;
}


.formalize-button {
  display: block;
  text-align: center;
  margin-left: auto;
  width: 170px;
  height: 44px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.information {
  position: absolute;
  top: 75px;
  right: 27px;
}

.contact-time {
  width: 155px;
  margin: 0px;
  margin-bottom: 4px;
  margin-left: auto;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  text-align:right;
  font-weight: 700;
}

.contact-number {
  width: 170px;
  margin: 0px;
  margin-left: auto;
  color: #ffffff;
  font-size: 22px;
  line-height: 24px;
  text-align:right;
  font-weight: 700;
}

.main-wrapper {
  width: 1146px;
  margin: 0 auto;
  position: relative;
  padding: 0 27px;
}

.container {
  position: relative;
}

.site-wrapper {
  background-color: #849d8f;
  background-image: url(../img/slider-item1.png);
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
  -o-transition: background-image 0.5s ease, background-color 0.5s ease;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url(../img/slider-item2.png);
}

.site-wrapper::after {
  background-image: url(../img/slider-item3.png);
}

.site-container {
  max-width: 1146px;
  margin: 0 auto;
}

.slider {
  position: relative;
  margin-bottom: 51px;
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.button:hover,
.button:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-button {
  padding: 13px 41px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.slider-controls {
  position: absolute;
  bottom: 12px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover,
.slider-controls label:focus {
  background-color: rgba(255, 255, 255, 0.4);
}

.slider-controls label:active {
  background-color: #ffffff;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url(../img/slider-item1.png);
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url(../img/slider-item2.png);
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url(../img/slider-item3.png);
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.promo {
  margin-bottom: 38px;
}

.promo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.promo-raspberry {
  width: 522px;
  background-image: url(../img/background-strawberrypng.png);
  padding: 16px 19px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e94f38;
  border-radius: 20px;
}

.promo-chocolate {
  width: 522px;
  background-image: url(../img/background-chocolat.png);
  padding: 16px 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #6b514d;
  border-radius: 20px;
}

.promo-button-raspberry-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
  margin-right: 6px;
}

.promo-button-chocolat-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
  margin-right: 2px;
}

.promo-button-raspberry,
.promo-button-raspberry:hover,
.promo-button-raspberry:focus,
.promo-button-raspberry:active {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  border-radius: 30px;
  padding: 11px 22px;
}

.promo-button-chocolat,
.promo-button-chocolat:hover,
.promo-button-chocolat:focus,
.promo-button-chocolat:active {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  border-radius: 30px;
  padding: 10px 21px;
}

.promo-header {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 15px;
}

.promo-main {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 45px;
}

.fast-view-button {
  display: none;
  width: 200px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
  padding: 10px 18px;
}

.popular-goods-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.popular-goods-item {
  position: relative;
  z-index: 5;
  border-radius: 20px;
  width: 267px;
}

.popular-goods {
  position: relative;
  z-index: 5;
  margin-bottom: 38px;
}

.good-title {
  position: relative;
  z-index: 5;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,.2);
  color: #ffffff;
}

.good-image {
  border-radius: 150px;
  margin-bottom: 10px;
}

.cost {
  position: absolute;
  top: 210px;
  left: 0px;
  margin: 0;
  padding: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.mass {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
}

.good-link,
.good-link-hit {
  display: block;
  position: relative;
  color: #ffffff;
}

.good-link-hit::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 61px;
  height: 61px;
  background-image: url(../img/hit.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.good-hit, .good {
  position: relative;
  text-align: center;
}

.goods {
  margin-bottom: 49px;
}

.goods-item:hover .good-background,
.popular-goods-item:hover .good-background,
.goods-item:hover .fast-view-button,
.popular-goods-item:hover .fast-view-button {
  display: block;
}

.good-background {
  display: none;
  position: absolute;
  top: -6px;
  left: -6px;
  width: 280px;
  height: 350px;
  padding-bottom: 50px;
  border-radius: 5px;
  background: #a9bab0;
  background-color: rgba(255,255,255,.3);
  -webkit-box-shadow: 0 20px 20px 0 rgba(0,0,0,.1);
  box-shadow: 0 20px 20px 0 rgba(0,0,0,.1);
  z-index: 2;
}

.goods-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.goods-item {
  position: relative;
  width: 267px;
  margin: 0;
  padding: 0;
  margin-bottom: 37px;
}

.fast-view-button {
  position: absolute;
  display: none;
  top: 340px;
  left: 20px;
  padding: 8px 7px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  z-index: 3;
}

.about-us {
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 22px;
  margin-bottom: 40px;
  background-image: url(../img/pattern.jpg);
  border-radius: 15px;
}

.about-us-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 2px;
}

.about-us-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
  margin-top: 0px;
  margin-bottom: 21px;
  margin-right: 88px;
  padding: 0;
  text-align: justify;
}

.about-us-item:nth-child(odd) {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
  width: 480px;
  padding-left: 57px;
  padding-bottom: 22px;
}

.about-us-item:nth-child(even) {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
  width: 480px;
  padding-left: 57px;
  padding-bottom: 22px;
}

.icon-ice-cream::before,
.icon-eco::before {
  content: "";
  position: absolute;
  top: -13px;
  left: 0px;
  width: 49px;
  height: 49px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.icon-cow::before,
.icon-thermometer::before {
  content: "";
  position: absolute;
  top: -13px;
  left: -1px;
  width: 49px;
  height: 49px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.icon-ice-cream::before {
  background-image: url(../img/ice-cream.svg);
}

.icon-cow::before {
  background-image: url(../img/cow.svg);
}

.icon-eco::before {
  background-image: url(../img/eco.svg);
}

.icon-thermometer::before {
  background-image: url(../img/thermometer.svg);
}

.blog-subscription a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  text-decoration: none;
  border-bottom: 2px solid #353535;
}

.blog-subscription a:hover,
.blog-subscription a:focus,
.blog-subscription a:active {
  color: #e84d37;
  border-bottom: 2px solid #e84d37;
}

.blog {
  font-size: 16px;
  line-height: 22px;
  font: 500;
  color: #323232;
  background-image: url(../img/strawberry-background.jpg);
  border-radius: 15px;
  width: 540px;
  padding: 0;
  margin: 0;
  padding-top: 23px;
  padding-left: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-new {
  margin: 0;
  margin-bottom: 3px;
  padding: 0;
}

.blog-link {
  padding: 0;
  margin: 0;
  margin-top: 0;
  margin-bottom: 82px;
  width: 300px;
}

.subscription-text {
  position:relative;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 36px;
  z-index: 1;
}

.subscription-login {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.blog-subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}

.subscription {
  position:relative;
  width: 510px;
  margin: 0;
  padding-top: 34px;
  padding-left: 27px;
  padding-right: 23px;
  border-radius: 15px;
  background-image: url(../img/post-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.subscription::before{
  content: "";
  position: absolute;
  top: 4px;
  left: 6px;
  width: 549px;
  height: 211px;
  background-image: url(../img/post-background-white.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 0;
}

.subscription-login input {
  box-sizing: border-box;
  width: 367px;
  padding: 6px 0;
  padding-left: 12px;
  color: #000000;
  border: 1px solid rgba(178, 178, 178, 0.5);
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  outline: none;
  z-index: 5
}

.button-send {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  width: 132px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
  z-index: 5
}

.subscription-login input[type="text"]:hover {
  -webkit-box-shadow: 0 0 0 1px rgba(154, 154, 154, 0.5);
  box-shadow: 0 0 0 1px rgba(154, 154, 154, 0.5)
}

.subscription-login input[type="text"]:focus {
  border-color: 1px solid #8fbdec;
  -webkit-box-shadow: 0 0 0 1px rgba(143, 189, 236);
  box-shadow: 0 0 0 1px rgba(143, 189, 236)
}

.map {
  display: block;
  position: relative;
  margin-left: -27px;
  background-color: #f7f1d9;
}

.feedback-form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 428px;
  min-height: 405px;
  margin-top: -320px;
  margin-left: -237px;
  padding-top: 14px;
  padding-bottom: 22px;
  padding-left: 24px;
  padding-right: 25px;
  background: #f8f7f4;
  border-radius: 10px;
  color: #000000;
  z-index: 15;
}

.feedback-form-close {
  position: absolute;
  top: 13px;
  right: 13px;
  width: 22px;
  height: 22px;
  background-image: url(../img/cross-big.svg);
  background-repeat: no-repeat;
  border: none;
  background-color: #f8f7f4;
  font-size: 0;
}

.feedback-form p {
  margin-top: 0px;
  margin-bottom: 18px;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"] {
  width: 250px;
  height: 40px;
  margin-bottom: 20px;
  border: 1px solid #d3d3d2;
  padding-left: 15px;
  padding-right: 16px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 5px;
  outline: none;
  color: #000000;
}

.feedback-form textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 155px;
  margin-bottom: 25px;
  padding: 8px 15px;
  border: 1px solid #d3d3d2;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
  border-radius: 5px;
  outline: none;
}

.feedback-form input[type="submit"] {
  min-width: 139px;
  margin-right: -1px;
  padding: 10px 27px;
  padding-right: 26px;
  color: #ffffff;
  font-size: 17px;
  line-height: 24px;
}

.address {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 17px;
  margin-top: 14px
}

.number {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.address li:nth-child(1) {
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  font-weight: 400;
  padding: 0;
  margin: 0;
  margin-right: 100px;
}

.address li:nth-child(2n) {
  font-size: 18px;
  line-height: 24px;
  color: #323232;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.number li:nth-child(2n+1) {
  font-size: 14px;
  line-height: 25px;
  color: #323232;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.number li:nth-child(2n) {
  font-size: 18px;
  line-height: 25px;
  color: #323232;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.button-feedback,
.button-feedback:hover,
.button-feedback:focus,
.button-feedback:active {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  margin-left: auto;
  margin-bottom: 19px;
  border-radius: 30px;
  padding: 10px 25px;
}

.modal-map {
  position: relative;
}

.modal-map::before {
  content: "";
  position: absolute;
  top: 137px;
  left: 238px;
  width: 80px;
  height: 140px;
  background-image: url(../img/pin.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 150;
}

.contacts {
  width: 302px;
  position: absolute;
	bottom: -369px;
  left: 843px;
  background-image: url(../img/background-map.png);
  background-repeat: no-repeat;
  z-index: 100;
}

.contacts-wrapper {
  box-sizing: border-box;
  width: 302px;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  background-color: #fff;
  border-radius: 15px;
  padding: 15px 25px;
}

.main-footer {
  margin-top: 32px;
  padding-bottom: 25px;
}

.main-footer-wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1146px;
  margin: 0 auto;
  position: relative;
  padding: 0 27px;
}

.footer-social {
  width: 199px;
  margin: 0;
  padding: 0;
  margin-right: 224px;
  padding-top: 3px;
}

.social-button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-button-item {
  width: 40px;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

.social-button-list .social-button-link {
  display: block;
  width: 32px;
  height: 32px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 100px;
}

.social-button-list .social-button-link:hover {
  border: 3px solid rgba(255, 255, 255, 0.7);
  opacity: 1;
}

.social-button-list .social-button-link:active {
  border-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: inset 0 2px 1px rgba(136, 136, 136, 1);
  box-shadow: inset 0 2px 1px rgba(136, 136, 136, 1);
}

.social-button-link {
  font-size: 0;
}

.footer-social .icon-twit {
  background-image: url(../img/twitter.svg);
  background-repeat: no-repeat;
  background-clip: padding-box;
  opacity: 0.8;
}

.footer-social .icon-inst {
  background-image: url(../img/instagram.svg);
  background-repeat: no-repeat;
  background-clip: padding-box;
  opacity: 0.8;
}

.footer-social .icon-fb {
  background-image: url(../img/fb.svg);
  background-repeat: no-repeat;
  background-clip: padding-box;
  opacity: 0.8;
}

.footer-social .icon-vk {
  background-image: url(../img/vk.svg);
  background-repeat: no-repeat;
  background-clip: padding-box;
  opacity: 0.8;
}

.footer-info a,
.footer-info-item-bold a {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.link-academy {
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.footer-info-item-bold a:hover,
.footer-info-item-bold a:focus,
.footer-info-item-bold a:active,
.footer-info-item a:hover,
.footer-info-item a:focus,
.footer-info-item a:active {
  color: #ffbc9e;
  border-bottom: 1px solid #a7a294;
}

.footer-info {
  width: 305px;
  margin: 0;
  padding: 0;
  margin-right: 230px;
}

.footer-info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-info-item::before {
  position: absolute;
  content: "";
  position: absolute;
  top: 4px;
  left: -23px;
  width: 15px;
  height: 13px;
  background-image: url(../img/heart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-info-item:nth-child(2n+1) {
  width: 140px;
  margin: 0;
  padding: 0;
  margin-bottom: 3px;
}

.footer-info-item:nth-child(2n) {
  width: 163px;
  margin: 0;
  padding: 0;
}

.bold a{
  font-weight: 700;
}

.footer-copyright {
  width: 190px;
  margin: 0;
  padding: 0;
}

.copyright {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 28px;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 400;
}

.copyright::before {
  position: absolute;
  content: "";
  position: absolute;
  top: -14px;
  left: 2px;
  width: 108px;
  height: 39px;
  background-image: url(../img/logo-htmlacademy.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.copyright a {
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 400;
}

.link-academy:hover,
.link-academy:focus,
.link-academy:active {
  color: #ffbc9e;
  border-bottom: 1px solid #a7a294;
}

.feedback-info {
  font-size: 24px;
  line-height: 28px;
  color: #323232;
  font-weight: 500;
}

.breadcrumbs-list li{
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 700;
  max-width: 267px;
  margin-right: 7px;
}

.breadcrumbs-list > li > a {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 1px solid #aebeb5;
}

.breadcrumbs-list > li > a:hover,
.breadcrumbs-list > li > a:focus,
.breadcrumbs-list > li > a:active {
  color: #ffbc9e;
  border-bottom: 1px solid #a7a294;
}

.breadcrumbs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  list-style: none;
  margin: 0px;
  margin-bottom: 3px;
  padding: 0;
}

.main-wrapper h1 {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: 700;
}

.sort-wrapper {
  display: inline-block;
}

.sort {
  margin: 0;
  padding: 0;
}

.range {
  display: inline-block;
}

.range p {
  margin: 0;
  padding: 0;
}

.filters {
  margin-bottom: 40px;
}

.filters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  width: 853px;
}

.pagination {
  position: relative;
  margin-bottom: 66px;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item {
  text-align: center;
  border-radius: 20px;
  position: relative;
  margin: 0;
  padding: 0;
}

.pagination-item a {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 20px;
  text-decoration: none;
}

.active-number span {
  background-color: #ffffff;
  color: #323232;
  font-weight: 700;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 18px;
  padding: 3px 9px;
  border-radius: 20px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #9db1a5;
}

.pagination-item a:active {
  color: #323232;
  background-color: #ffffff;
}

.icon-right {
  margin-top: 2px;
  margin-left: 15px;
  width: 8px;
  height: 12px;
  background-image: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
}

.icon-left {
  margin-top: 2px;
  margin-right: 15px;
  width: 8px;
  height: 12px;
  background-image: url(../img/icon-left-small.svg);
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 858px;
  margin-bottom: 24px;
}

.filter-form::after {
  content: '';
  display: table;
  clear: both;
}

.filter-type-wrapper{
  margin-right: 9px;
  margin-bottom: 15px;
}

.filter-type-name {
  max-width: 170px;
  margin-bottom: 7px;
  padding-left: 16px;
  font-size: 14px;
}

.filter-type {
  display: block;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-right: 24px;
  color: #ffffff;
  background: #aabab0;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filter-type::-ms-expand {
  display: none;
}

.filter-type-container {
  position: relative;
}

.filter-type-container:hover .filter-type {
  color: #000000;
}

.filter-type-container:hover::after {
  border-top-color: #000000;
}

.filter-type-container::after {
  content: '';
  position: absolute;
  top: 15px;
  right: 15px;
  width: 0px;
  height: 0px;
  border: 4px solid #ffffff;
  border-bottom-width: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  cursor: pointer;
}

.range-filter {
  width: 218px;
  margin-right: -2px;
  margin-bottom: 14px;
  color: #ffffff;
}

.price-controls {
  max-width: 195px;
  margin-bottom: 5px;
  margin-left: 15px;
  font-size: 14px;
  white-space: nowrap;
}

.price-controls span {
  display: inline-block;
  max-width: 40px;
  vertical-align: top;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.range-controls {
  position: relative;
  min-height: 36px;
  padding-left: 15px;
  padding-right: 15px;
  background: #aabab0;
  border-radius: 20px;
  overflow: hidden;
}

.range-filter .scale {
  margin-top: 16px;
  height: 4px;
  background: #d1d9d2;
}

.bar {
  height: 4px;
  width: 98px;
  margin-left: 35px;
  background: #f8f7f4;
}

.toggle {
  position: absolute;
  top: 8px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0,1,1,.2);
  box-shadow: 0 2px 1px 0 rgba(0,1,1,.2);
  cursor: pointer;
}

.min-toggle {
  left: 34px;
}

.max-toggle {
  left: 132px;
}

.min-toggle:hover,
.max-toggle:hover {
  width: 6px;
  height: 6px;
}

.min-price,
.max-price {
  width: 60px;
  margin-left: 0px;
  border: none;
  background: none;
  outline: none;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
  color: #ffffff;
}

.fatness-filter-wrapper{
  margin-bottom: 14px;
  padding: 0;
  border:0 none;
}

.fatness-filter-name {
  max-width: 180px;
  margin-bottom: 7px;
  padding-left: 16px;
  font-size: 14px;
}

.fatness-filter {
  margin: 0;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 17px;
  background: #aabab0;
  border-radius: 20px;
}

.fatness-filter input[type="radio"] {
  display: none;
}

.fatness-filter label {
  display: inline-block;
  position: relative;
  margin-right: 17px;
  margin-bottom: 10px;
  padding-left: 29px;
  font-size: 16px;
  vertical-align: top;
  cursor: pointer;
}

.fatness-filter label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border: 3px solid #aabab0;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 3px #ffffff;
  box-shadow: 0 0 0 3px #ffffff;
  opacity: 0.8;
}

.fatness-filter label:hover::before {
  -webkit-box-shadow: 0 0 0 3px;
  box-shadow: 0 0 0 3px;
  color: #ffffff;
  opacity: 1;
}

.fatness-filter input[type="radio"]:checked + label::before {
  background-color: #ffffff;
}

.fatness-filter input[type="radio"]:disabled + label {
  opacity: 0.4;
  cursor: default;
}

.fatness-filter input[type="radio"]:disabled + label::before  {
  -webkit-box-shadow: 0 0 0 3px;
  box-shadow: 0 0 0 3px;
  opacity: 0.4;
  cursor: default;
}

.fatness-filter input[type="radio"]:checked:disabled + label::before{
  opacity: 0.4;
  cursor: default;
}

.fatness-filter label:last-child {
  margin-right: 0;
}

.fillers-filter-wrapper {
  padding: 0;
  margin-right: 14px;
  margin-bottom: 14px;
  border:0 none;
}

.fillers-filter-name {
  max-width: 170px;
  margin-bottom: 7px;
  padding-left: 13px;
  font-size: 14px;
}

.fillers-filter {
  margin: 0;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 20px;
  background: #aabab0;
  border-radius: 20px;
}

.fillers-filter input[type="checkbox"] {
  display: none;
}

.fillers-filter label {
  display: inline-block;
  position: relative;
  max-width: 750px;
  min-height: 22px;
  margin-right: 20px;
  margin-bottom: 6px;
  padding-left: 30px;
  font-size: 16px;
  cursor: pointer;
  vertical-align: middle;
}

.fillers-filter label:last-child {
  margin-right: 0;
}

.fillers-filter label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #ffffff;
  border-radius: 3px;
  opacity: 0.8;
}

.fillers-filter label:hover::before {
  opacity: 1;
}

.fillers-filter input[type="checkbox"]:checked + label::before {
  background: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  width: 20px;
  height: 20px;
}

.fillers-filter input[type="checkbox"]:disabled + label {
  opacity: 0.4;
  cursor: default;
}

.fillers-filter input[type="checkbox"]:disabled + label::before  {
  border: 2px solid;
  opacity: 0.4;
  cursor: default;
}

.fillers-filter input[type="checkbox"]:checked:disabled + label::before{
  opacity: 0.4;
  cursor: default;
}

.filter-form input[type="submit"] {
  margin-top: 23px;
  margin-bottom: 16px;
  padding-top: 4px;
  padding-bottom: 6px;
  padding-left: 27px;
  padding-right: 27px;
  border: 2px solid #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: none;
  background-color: #9aaea3;
  line-height: 1.3;
}

.filter-form input[type="submit"]:hover {
  background-color: #fafbfb;
  color: #000000;
}

.filter-form input[type="submit"]:active {
  background-color: #eaeaea;
  color: #000000;
  -webkit-box-shadow: inset 0 2px 1px rgba(105, 105, 105, 1);
  box-shadow: inset 0 2px 1px rgba(105, 105, 105, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
