body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: "Roboto", "Arial", sans-serif;

  color: #ffffff;

  background-color: #849d8f;
}


.main-header {
  position: relative;
  width: 1146px;
  margin: 0 auto;
  margin-bottom: 335px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.main-header-logo {
  display: block;
  position:absolute;
  top: 9px;
  left: 0;
}

.main-header-catalog {
  position: relative;
  width: 1146px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #849d8f;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  margin-left: 163px;
}


.site-navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 650px;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  list-style: none;
}


.site-navigation-item {
  max-width: 180px;
}


.site-navigation-item > a {
  padding: 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 14px;
}



.site-navigation-item > a:hover,
.site-navigation-item > a:focus {
  padding: 10px 14px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 20px;
  text-decoration: none;
}

.site-navigation-item > a:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0px #696969;
  color: #000000;
}

.active-catalog a {
  background-color: #d07058;
  border-radius: 20px;
  text-decoration: none;
}

.active-catalog a:hover,
.active-catalog a:focus,
.active-catalog a:active {
  color: #ffffff;
  background-color: #d07058;
  border-radius: 20px;
  text-decoration: none;
}



.catalog-list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation-item:hover .catalog-list,
.site-navigation-item:focus .catalog-list{
  display: block;
  position: absolute;
  top: 60px;
}

.catalog-item {
  display: block;
  padding: 6px 22px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
}

.catalog-item-bold {
  display: block;
  padding: 10px 22px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 1px solid #d1d0ce;
}

.catalog-list a:hover,
.catalog-list a:focus {
  background-color: #fbded7;
  color: #000000;
}

.catalog-list a:active {
  background-color: #f6b5a5;
  color: #000000;
}


.site-navigation-item:hover .catalog-list-none,
.site-navigation-item:focus .catalog-list-none {
  display: none;
}

.user-navigation-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 280px;
  margin: 0;
  margin-top: 23px;
  padding: 0;
}

.smallcart-empty-link,
.smallcart-full-link,
.login-link {
  display: block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #9db1a5;
  border-radius: 20px;
  text-decoration: none;
  padding-left: 43px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 18px;
}

.search-link {
  display: block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #9db1a5;
  border-radius: 20px;
  text-decoration: none;
  padding: 17px;
}

.search {
  position: relative;
}

.search a::before {
  content: "";

  position: absolute;
  top: 7px;
  left: 8px;

  width: 17px;
  height: 17px;

  background-image: url(../img/loupe.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 0;
}

 .search-form {
  display: none;
}

.search a:hover,
.search a:focus {
  padding: 17px;
  background-color: #f8f7f4;

}

.search a:hover::before,
.search a:focus::before {
  background-image: url(../img/loupe-black.svg);
}

.search:hover .search-form,
.search:focus .search-form{
  display: block;
  position:absolute;
  top: 40px;
  left: -305px;
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  width: 341px;
  height: 84px;
  z-index: 277;
}

.search-form input {
  display: block;
  position: absolute;
  top: 20px;
  left: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(211, 211, 210);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  width: 309px;
  height: 44px;
  z-index: 278;
  font-size: 14px;
  color: #999999;
  line-height: 24px;
}

.login-form {
  display: none;
}



.modal-login .login-link::before {
  content: "";

  position: absolute;
  top: 6px;
  left: 16px;

  width: 21px;
  height: 20px;

  background-image: url(../img/entrance-white.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}


.login-link:hover,
.login-link:focus {
  padding-left: 43px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 18px;
  border-radius: 20px;
  background-color: #f8f7f4;
  color: #323232;
}

.login-link:hover::before,
.login-link:focus::before {
  background-image: url(../img/entrance.svg);
}

.modal-login:hover .login-form {
  display: block;
  position: absolute;
  top: 40px;
  left: -180px;
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  width: 277px;
  height: 214px;
  z-index: 250;
}

.login-form input[type="text"] {
  position: absolute;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(211, 211, 210);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  left: 20px;
  top: 20px;
  width: 240px;
  height: 44px;
  z-index: 260;
  font-size: 14px;
  color: #999999;
  line-height: 24px;
}

.login-form input[type="password"] {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(211, 211, 210);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 20px;
    top: 80px;
    width: 240px;
    height: 44px;
    z-index: 258;
    font-size: 14px;
    color: #999999;
    line-height: 24px;
  }


.restore {
  position: absolute;
  left: 138px;
  top: 150px;
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  font-weight: 400;
  text-decoration: underline;
}

.new-registration {
  position: absolute;
  left: 138px;
  top: 170px;
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  font-weight: 400;
  text-decoration: underline;
}

.open-button {
  display: block;
  position: absolute;
  left: 20px;
  top: 155px;
  padding: 10px 25px;
}

.smallcart-empty,
.modal-login {
  position: relative;
  margin-left: 10px;
}

.smallcart-empty-link::before {
  content: "";

  position: absolute;
  top: 6px;
  left: 16px;

  width: 21px;
  height: 20px;

  background-image: url(../img/basket.svg);
  background-repeat: no-repeat;
  background-position: 0 0;

}

.smallcart-form {
  position: relative;
  display: none;

}
.smallcart-full {
  position: relative;
  margin-left: 10px;
}

.smallcart-full-link::before {
  content: "";

  position: absolute;
  top: 8px;
  left: 16px;

  width: 21px;
  height: 20px;

  background-image: url(../img/basket-red.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}


.smallcart-full-link {
  color: #323232;
  background-color: #f7f6f3;
}

.smallcart-full:hover .smallcart-form,
.smallcart-full:focus .smallcart-form {
  display:block;
  position: absolute;
  top: 40px;
  left: -460px;
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  width: 539px;
  height: 222px;
  z-index: 223;
  padding: 20px;
}


.smallcart-table {
width: 539px;
height: 170px;
margin: 0;
padding: 0;
}

.cancel {
  padding-left: 10px;
padding-right: 10px;
}

.small-image {
  width: 33px;
padding-right: 15px;

}

.small-image img {
  border-radius: 100px;
}

.name-goods {
  width: 220px;
padding-right: 30px;
}

.weight {
  width: 100px;
padding-right: 25px;
}


.total-cost-smallcart {
  padding-top: 10px;
  padding-bottom: 0;
  text-align: right;
 border-top: 1px solid #d1d0ce;
}

.smallcart-table tr {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}
.cost-item-color {
  font-size: 13px;
  line-height: 16px;
  color: #999999;
  font-weight: 400;
}

.total-cost-smallcart-style {
  font-size: 15px;
  line-height: 18px;
  color: #323232;
  font-weight: 700;
}

.wrapper-button {
  display: flex;
  justify-content: flex-end;
}

.formalize-button {
  margin-left: auto;
  width: 170px;
  height: 44px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}


.information {
  position: absolute;
  top: 73px;
  right: 0;
}

.contact-time {
  width: 155px;
  margin: 0px;
  margin-bottom: 5px;
  margin-left: auto;

  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  text-align:right;
  font-weight: 700;
}

.contact-number {
  width: 170px;
  margin: 0px;
  margin-left: auto;

  color: #ffffff;
  font-size: 22px;
  line-height: 24px;
  text-align:right;
  font-weight: 700;
}

.container {
  width: 1146px;
  margin: 0 auto;
}

.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url(../img/slider-item1.png);
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;

}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url(../img/slider-item2.png);
}

.site-wrapper::after {
  background-image: url(../img/slider-item3.png);
}

.site-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}



.slider {
  position: relative;
  margin-bottom: 42px;


  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.button {
  display: inline-block;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-button {
  padding: 11px 44px;
text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;

}
.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url(../img/slider-item1.png);
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url(../img/slider-item2.png);
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url(../img/slider-item3.png);
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}
















.promo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 38px;
}

.promo-raspberry {
  display: flex;
  flex-direction: column;
  width: 525px;
  background-image: url(../img/background-strawberrypng.png);
  padding: 16px 18px;
  background-repeat: no-repeat;
}

.promo-chocolate {
  display: flex;
  flex-direction: column;
  width: 525px;
  background-image: url(../img/background-chocolat.png);
  padding: 16px 18px;
  background-repeat: no-repeat;
}

.promo-button,
.promo-button:hover,
.promo-button:focus,
.promo-button:active {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  margin-left: auto;
  margin-bottom: 10px;
  border-radius: 30px;
  padding: 10px 25px;
}

.promo-header {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 15px;
}

.promo-main {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 45px;
}

.fast-view-button {
  display: none;
  width: 200px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
  padding: 10px 18px;

}


.popular-goods-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.popular-goods-item {
  border-radius: 20px;
  width: 267px;
}


.popular-goods {
  margin-bottom: 38px;
}


.good-title {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  }

.good-image {
  border-radius: 150px;
  margin-bottom: 10px;
}

.cost {
  position: absolute;
  top: 210px;
  left: 0px;
  margin: 0;
  padding: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.mass {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
}

.good-link {
  display: block;
  position: relative;
  color: #ffffff;
}

.good-link::before {
  content: "";

  position: absolute;
  top: 0px;
  left: 0px;

  width: 61px;
  height: 61px;

  background-image: url(../img/hit.svg);
  background-repeat: no-repeat;
  background-position: 0 0;

}
.good-hit {
  position: relative;
}

.good {
  position: relative;
}

.good-link:hover,
.good-link:focus {
  position: absolute;
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  opacity: 0.2;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  width: 293px;
  height: 405px;
}

.good-hit:hover .fast-view-button,
.good:hover .fast-view-button {
  display:block;
  position: absolute;
  top: 340px;
  left: 25px;
}


.about-us {
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 30px;
  margin-bottom: 40px;
  background-image: url(../img/pattern.jpg);
  border-radius: 15px;
}

.about-us-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-us-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 0;
}

.about-us-item {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
  width: 480px;
  padding-left: 55px;
  padding-bottom: 22px;

}

.icon-ice-cream::before,
.icon-cow::before,
.icon-eco::before,
.icon-thermometer::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0px;
  width: 49px;
  height: 49px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.icon-ice-cream::before {
  background-image: url(../img/ice-cream.svg);
}

.icon-cow::before {
    background-image: url(../img/cow.svg);
}

.icon-eco::before {
  background-image: url(../img/eco.svg);
}

.icon-thermometer::before {
  background-image: url(../img/thermometer.svg);
}


.blog-subscription a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  text-decoration: none;
  border-bottom: 2px solid #353535;
}

.blog-subscription a:hover,
.blog-subscription a:focus,
.blog-subscription a:active {
  color: #e84d37;
  border-bottom: 2px solid #e84d37;
}

.blog {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  background-image: url(../img/strawberry-background.jpg);
  border-radius: 15px;
  width: 540px;
  padding: 0;
  margin: 0;
  padding-top: 25px;
  padding-left: 20px;
  background-repeat: no-repeat;
}

.blog-new {
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 0;
}
.blog-link {
  padding: 0;
  margin: 0;
  margin-top: 0;
  width: 300px;
}



.subscription-text {
  position:relative;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  z-index: 1;
}

.subscription-login {
  position:relative;
  margin: 0;
  padding: 0;
}

.blog-subscription {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.subscription {
  position:relative;
  width: 510px;
  margin: 0;
  padding-bottom: 80px;
  padding-top: 40px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 15px;
  background-image: url(../img/post-background.jpg);
  background-repeat: no-repeat;
}

.subscription::before{
  content: "";
  position: absolute;
  top: 4px;
  left: 5px;
  width: 549px;
  height: 211px;
  background-image: url(../img/post-background-white.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 0;
}

.subscription-login input {
  display: block;
  position: absolute;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(178, 178, 178);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  opacity: 0.52;
  top: 0px;
  left: 0px;
  top: 0px;
  width: 370px;
  height: 44px;
  font-size: 16px;
  color: #999999;
  line-height: 24px;
}

.button-send {
  display: block;
  position: absolute;
  left: 380px;
  top: 0px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  width: 129px;
  height: 44px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
}


.map {
  width: 100%;
}

.feedback {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
  text-decoration: none;
  padding: 10px 20px;
}

.address,
.number {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

  .address li:nth-child(1) {
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  font-weight: 400;
  padding: 0;
  margin: 0;
  margin-right: 100px;
}

.address li:nth-child(2n) {
  font-size: 18px;
  line-height: 24px;
  color: #323232;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.number li:nth-child(2n+1) {
font-size: 14px;
line-height: 20px;
color: #323232;
font-weight: 400;
padding: 0;
margin: 0;
}

.number li:nth-child(2n) {
font-size: 18px;
line-height: 24px;
color: #323232;
font-weight: 700;
padding: 0;
margin: 0;
}

.button-feedback,
.button-feedback:hover,
.button-feedback:focus,
.button-feedback:active {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  margin-left: auto;
  margin-bottom: 10px;
  border-radius: 30px;
  padding: 10px 25px;
}

.modal-map {
  position: relative;
  z-index: 1;
}

.contacts {
  display: flex;
  justify-content: flex-end;
  position: absolute;
	bottom: -370px;
  left: 840px;
  background-image: url(../img/background-map.png);
  background-repeat: no-repeat;
  z-index: 2;
}

.contacts-wrapper {
  padding: 30px 25px;
}


.main-footer .container{
  display: flex;
  justify-content: space-between;
  width: 1146px;
  padding-left: 27px;
  padding-right: 27px;
  padding-top: 35px;
}

.footer-social {
  width: 190px;
  margin: 0;
  padding: 0;
}

.social-button-list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-button-item {
  width: 40px;
  margin: 0;
  padding: 0;
  padding-right: 10px;
}

.social-button-link img {
  border: 2px solid #c2cec7;
  border-radius: 100%;
}

.footer-info a {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: underline;
  font-weight: 400;
}

.link-academy {
  text-decoration: underline;
}

.footer-info-item-bold a{
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 700;
}

.footer-info-item-bold a:hover,
.footer-info-item-bold a:focus,
.footer-info-item-bold a:active,
.footer-info-item a:hover,
.footer-info-item a:focus,
.footer-info-item a:active {
  color: #e84d37;
}

.footer-info {
  width: 330px;
  margin: 0;
  padding: 0;
}

.footer-info-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-info-item::before {
  position: absolute;
  content: "";
  position: absolute;
  top: 6px;
  left: -25px;
  width: 15px;
  height: 13px;
  background-image: url(../img/heart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-info-item-bold,
.footer-info-item {
  width: 163px;
  margin: 0;
  padding: 0;
}

.footer-copyright {
  width: 180px;
  margin: 0;
  padding: 0;
}

.copyright {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 400;
}

.copyright::before {
  position: absolute;
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 108px;
  height: 39px;
  background-image: url(../img/logo-htmlacademy.svg);
  background-repeat: no-repeat;
  background-position: 0 0;

}

.copyright a {
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 400;
}

.link-academy:hover,
.link-academy:focus,
.link-academy:active {
  color: #e84d37;
}

.feedback-info {
  font-size: 24px;
  line-height: 28px;
  color: #323232;
  font-weight: 500;
}


.breadcrumbs-item {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 700;
}

.breadcrumbs-list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0px;
  margin-bottom: 10px;
  padding: 0;
}

.breadcrumbs-item {
width: 267px;
margin: 0;
padding-right: 20px;
}


h1 {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: 700;
}

.sort-wrapper {
  display: inline-block;
}
.sort {
  margin: 0;
  padding: 0;
}

.range {
  display: inline-block;
}
.range p {
  margin: 0;
  padding: 0;
}
.filters {
  margin-bottom: 40px;
}

.filters-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 0;
  width: 853px;
}

.goods-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.goods-item {
  width: 267px;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}


.pagination {
  position: relative;
  margin-bottom: 30px;
}

.pagination-list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  margin-right: 18px;
  list-style: none;
}

.pagination-item {
  text-align: center;
  border-radius: 20px;
  position: relative;
  margin: 0;
  padding: 0;
}

.pagination-item a {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 20px;
  text-decoration: none;
}

.active-number a {
  background-color: #ffffff;
  color: #323232;
}

.pagination::after {
  position: absolute;
  content: "";
  position: absolute;
  top: 5px  ;
  right: 0;
  width: 8px;
  height: 12px;
  background-image: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.pagination::before {
  position: absolute;
  content: "";
  position: absolute;
  top: 5px;
  left: 957px;
  width: 8px;
  height: 12px;
  background-image: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  transform: rotate(180deg)
}



.fatness-radio-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.fatness-radio-item {
  width: 80px;
}

.fatness legend {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 500;
}

.percent-fatness {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 500;
}

.fillers-checkbox-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.fillers-checkbox-item {
  width: 120px;
}

.fillers legend {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 500;
}

.filler-item {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 500;
}

.fillers ul,
.fatness ul {
list-style: none;
}


.goods-list {
list-style: none;
}



.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
